.git
out
_windows
bin
*.iml
.classpath

*~
.DS_Store
## File-based project format:
*.ipr
*.iws

##I (Joel) would like a way to have as part of the repo, IntelliJ project 
## configuration files that define a project wide code style, project build 
## paths, libs and resorce directories. However, my first attempt of including
## .idea broke the project for Javier who is running
## IntelliJ in Linux.
.idea     ##IntelliJ IDE project config
.settings ##Eclipse IDE project config
.project  ##Eclipse IDE project config

# the dataSources folder is raw data not directly used by the project.
dataSources

# ignore class files
*.class

# emacs temp files
\#*\#
.\#*

dist/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
/Lab8JavaFx/nbproject/private/
