.git
.idea
out
bin
.settings
*.iml
.classpath
.project
*~
.DS_Store
## File-based project format:
*.ipr
*.iws


# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
/Lab8JavaFx/nbproject/private/