/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.chart-title {
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 1.6em;
}

.axis {  
    -fx-tick-label-fill: #FFFFFF;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.chart-plot-background {
    -fx-background-color: transparent;
}
