.visnode {
    -fx-background-color: #2f4f4f;
}

.graphnode
{
    -fx-background-color: rgb(84, 84, 84, 0.75);
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-width: 3;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.globalPricesVisNode
{	
    -fx-background-color: rgb(84, 84, 84, 0.75);
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-width: 4;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}


.handbar
{
    -fx-background-color: #30df82;
}

.decknode
{

}

.actionbuttons
{

}

.summarybar
{

}

.draftstatus
{
}

.draftedcards
{
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-width: 5;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.mapnode
{
}

.pbarelement
{
        -fx-background-color: cornsilk;
        -fx-padding: 5;
        -fx-border-color: black;
        -fx-border-width: 2;
        -fx-font-size: 10;
}

.pbarpopup
{
    -fx-background-color: rgba(84, 84, 84, .9);
}

.graphdisplay
{
    -fx-background-color: rgba(84, 84, 84, 0.5);
}

.scroll-pane > .viewport  { -fx-background-color:rgb(255, 255, 255, 0.15) }


