.cardspace {
  	
	-fx-background-color: rgb(0, 0, 0, 0.50);
	-fx-border-color:  rgb(0, 102, 102, 0.75);
    -fx-background-radius: 22;
}

.summarybar
{
    -fx-background-color: #81be31;
}

.timer
{
    -fx-background-color: #95dbb2;
}

.votingnode
{
    -fx-background-color: rgb(255, 255, 255, 0.50);
}

.regionmap
{
    -fx-background-color: #FFFFFF;
}