.root{
    -fx-background-image: url("night_sky.jpg");

    }
#earthInfo {
    -fx-background-color: rgba(53,89,119,0.5);
    -fx-font-family: "Copperplate";
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}
#button {
    -fx-background-color: rgba(53,89,119,0.8);
    -fx-width: 150;
    -fx-padding: 10;

}